[submodule "panda"]
	path = panda
	url = ../../dzid26/panda_bmw.git
[submodule "opendbc"]
	path = opendbc
	url = ../../dzid26/opendbc-BMW-E8x-E9x.git
[submodule "laika_repo"]
	path = laika_repo
	url = ../../commaai/laika.git
[submodule "apks"]
	path = apks
	url = ../../commaai/openpilot-apks.git
[submodule "cereal"]
	path = cereal
	url = ../../dzid26/cereal_bmw.git
